<!-- html templates -->
<link rel="import" href="chat-window.html">
<link rel="import" href="contract-details.html">
<link rel="import" href="discover-mode.html">
<link rel="import" href="header-navigation.html">
<link rel="import" href="modal-basic.html">
<link rel="import" href="modal-pretty.html">
<link rel="import" href="node-connect.html">
<link rel="import" href="user-configuration.html">
<link rel="import" href="user-profile.html">
<link rel="import" href="user-transactions.html">
<link rel="import" href="vendor-banner.html">
<link rel="import" href="vendor-page.html">

<!-- global js -->
<script src="/assets/js/objects/configuration.js"></script>
<script src="/assets/js/objects/helper.js"></script>
<script src="/assets/js/objects/modal.js"></script>