<dom-module id="chat-window">

  <link href="../css/chat.css" rel="stylesheet">

  <template>
    <div class="chat visibility-hidden">
      <div class="chat-header">
        <div class="chat-title">Messages</div>
        <div class="chat-count">6</div>
        <div class="chat-close position-float-right button-chat-control visibility-hidden">_</div>
        <div class="chat-new position-float-right button-chat-control visibility-hidden">new</div>
      </div>
      <div class="chat-conversations">
        <ul></ul>
      </div>
      <div class="chat-conversation-detail visibility-hidden">
        <div class="chat-conversation-detail-body"></div>
        <input class="input input-chat-new-message" placeholder="Enter message..." data-id="" />
      </div>
    </div>
  </template>

  <script>
    Polymer({is: 'chat-window'});
  </script>
  <script src="../js/objects/chat.js"></script>

</dom-module>
