<dom-module id="node-connecting">

  <template>
    <div class="connecting type-align-center" style="margin-top: 13%">
      <img src="assets/img/icon-large.png" style="width: 90px" class="ob-icon position-margin-bottom-5px" /><br />
      <img class="loading-icon visibility-hidden position-margin-bottom-5px" /><br />
      <h1 class="loading-message position-margin-bottom-10px type-weight-light">Connecting to stores...</h1>
      <div id="spinner"></div>
      <button class="button-primary button-try-again visibility-hidden">Try again</button>
    </div>
  </template>

  <script>
    Polymer({is: 'node-connecting'});
  </script>
  <script src="/assets/js/objects/connecting.js"></script>

</dom-module>