<dom-module id="user-onboarding">

  <link href="../css/onboarding.css" rel="stylesheet">

  <template>
    <div class="onboarding visibility-hidden" data-active-step="contributors">
      <div class="onboarding-photo-holder"><div class="onboarding-photo"></div><div class="onboarding-icon"></div><div class="onboarding-photo-text">OpenBazaar is an open source project created by hundreds of people with the primary goal of giving the world free trade</div><div class="onboarding-photo-shadow"></div></div>
      <div class="onboarding-header">Contributors</div>

      <div class="onboarding-body">
        <div class="onboarding-contributors onboarding-step"><table class="onboarding-contributors-list position-margin-0"></table></div>
        <div class="onboarding-location onboarding-step visibility-hidden"><table class="onboarding-location-list position-margin-0"></table></div>
        <div class="onboarding-currency onboarding-step visibility-hidden"><table class="onboarding-currency-list position-margin-0"></table></div>
        <div class="onboarding-timezone onboarding-step visibility-hidden"><table class="onboarding-timezone-list position-margin-0"></table></div>
        <div class="onboarding-user-role onboarding-step visibility-hidden">
          <table class="position-margin-0">
            <tr>
              <td colspan="2" class="position-padding-16px type-opacity">You may change your user role at any point. If you're not sure what user type you would like to be, choose buyer for now.</td>
            </tr>
            <tr>
              <td class="position-padding-16px"><input type="radio" name="user-role" id="user-role-buyer" /></td>
              <td class="position-width-100 position-padding-left-0">
                <label for="user-role-buyer">
                  <div class="position-margin-bottom-3px type-weight-medium">Buyer</div>
                  <div class="type-weight-medium type-opacity">I'm using OpenBazaar to buy things</div>                  
                </label>
              </td>
            </tr>
            <tr>
              <td class="position-padding-16px"><input type="radio" name="user-role" id="user-role-merchant" /></td>
              <td class="position-width-100 position-padding-left-0">
                <label for="user-role-merchant">
                  <div class="position-margin-bottom-3px type-weight-medium">Merchant</div>
                  <div class="type-weight-medium type-opacity">I'm using OpenBazaar to buy and sell things</div>                  
                </label>
              </td>
            </tr>
            <tr>
              <td class="position-padding-16px"><input type="radio" name="user-role" id="user-role-moderator" /></td>
              <td class="position-width-100 position-padding-left-0">
                <label for="user-role-moderator">
                  <div class="position-margin-bottom-3px type-weight-medium">Moderator</div>
                  <div class="type-weight-medium type-opacity">I want to offer services to other OpenBazaar users</div>                  
                </label>
              </td>
            </tr>
          </table>
        </div>
        <div class="onboarding-bitcoin-address onboarding-step visibility-hidden">
          <table class="position-margin-0">
            <tr>
              <td class="position-padding-16px type-opacity">Would you like to link a bitcoin address to OpenBazaar? In the event of a refund, the funds would be sent to the bitcoin address below.</td>
            </tr>
            <tr>
              <td class="position-padding-20px border-bottom-0"><input class="input position-width-100 bitcoin-address" type="text" placeholder="Enter bitcoin address" /></td>
            </tr>
          </table>
        </div>
        <div class="onboarding-handle onboarding-step visibility-hidden">
          <table class="position-margin-0">
            <tr>
              <td class="position-padding-16px type-opacity">You’re currently known as: 61519ce55c38f3104a4319eacc2309e082318f18. Would you like to connect with Onename to create an easy to remember handle?</td>
            </tr>
            <tr>
              <td class="position-padding-20px border-bottom-0 position-text-align-center"><button class="button-primary connect-to-onename">Connect to Onename</button></td>
            </tr>
          </table>          
        </div>
        <div class="onboarding-avatar onboarding-step visibility-hidden position-text-align-center">
          <input type="file" class="onboarding-input-avatar visibility-hidden" />
          <div class="avatar-circle"></div>
          <button class="button-primary onboarding-choose-avatar">Choose avatar</button>
        </div>
        <div class="onboarding-final onboarding-step visibility-hidden">
          <div class="position-middle">
            <button class="button-primary button-browse-items position-float-left">Browse items</button>
            <button class="button-primary button-configure-store position-float-left">Configure your store</button>
          </div>
        </div>
      </div>
      <div class="onboarding-footer">
        <button class="onboarding-button-start position-width-100">Configure your experience</button>
        <button class="button-first onboarding-button-back visibility-hidden">Back</button>
        <button class="onboarding-button-close visibility-hidden">Done</button>
        <button class="onboarding-button-next visibility-hidden">Next</button>
        <button class="onboarding-button-skip visibility-hidden">Skip</button>
      </div>      
    </div>
  </template>

  <script>
    Polymer({is: 'user-onboarding'});
  </script>
  <script src="../js/objects/onboarding.js"></script>

</dom-module>