html {
  overflow: hidden; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1;
}

body {
  background: #086A9E;
  color: #fff;
  cursor: default;
  overflow: hidden; 
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}

table {
  font-family: "font-regular";
  font-size: 13px;
  width: 100%;
}

table td {
  font-family: "font-medium";
  font-size: 13px;
  padding: 10px;
  vertical-align: middle;
}

table thead tr {
  background: #327eb8;
  border-radius: 3px;
  height: 20px;
  font-family: "font-medium";
}

table thead tr td{
  height: 20px;
  line-height: 20px;
  font-family: "font-medium";
  font-size: 15px;
  padding: 15px;
}

table thead tr td:first-child{
  border-top-left-radius: 3px;
}
table thead tr td:last-child{
  border-top-right-radius: 3px;
}

.transactions {
  margin: auto;
  text-align: left;
  width: 1100px;
  margin-bottom: 100px;
  opacity: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.transactions-purchases table td {
  border-bottom: solid 1px #327EB8; 
}

.transactions-purchases table tr{
  cursor: pointer; 
}

.transaction-detail {
  border-bottom: solid 1px #327eb8;
  cursor: pointer;
}

.avatar {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

#main {
  clear: both;
  height: 94%;
  overflow-y: auto;
  top: 50px;
  position: relative;
}

.body-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -70px 112px -62px rgba(37,37,37,.9);
}

#main.blur {
  -webkit-filter: blur(4px);
}

.cursor-pointer {
  cursor: pointer;
}

.loading-icon {
  background: #fff;
  background-size: cover;
  border-radius: 45px;
  height: 90px;
  margin: 10px auto;
  width: 90px;
}

.loading-message {
  font-family: "font-regular" !important;
}

#spinner {
  margin: auto;
  height: 50px;
  position: relative;
  width: 50px;
}

.opacity-0 {
  opacity: 0;
}


.dropzone {
  background: #327eb8;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

.dropzone:focus {
  opacity: .75;
 box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
border:1px solid red;
}

.dropzone .dz-preview .dz-image  {
  border-radius: 0;
  height: 80px;
  width: 80px;
}

.settings-contract-buttons {
  opacity: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  z-index: 50;
}

.pod {
  background-color: #327eb8;
  border-radius: 4px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.10);
  padding: 20px;
  position: relative;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}

