html {
  overflow: hidden; 
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1;
}

body {
  background: #086A9E;
  color: #fff;
  cursor: default;
  overflow: hidden; 
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
}

table {
  font-family: "font-regular";
  font-size: 13px;
  width: 100%;
}

table td {
  font-family: "font-medium";
  font-size: 13px;
  padding: 10px;
  vertical-align: middle;
}

table thead tr {
  background: #327eb8;
  border-radius: 3px;
  height: 20px;
  font-family: "font-medium";
}

table thead tr td{
  height: 20px;
  line-height: 20px;
  font-family: "font-medium";
  font-size: 15px;
  padding: 15px;
}

table thead tr td:first-child{
  border-top-left-radius: 3px;
}
table thead tr td:last-child{
  border-top-right-radius: 3px;
}

.transactions {
  margin: auto;
  text-align: left;
  width: 1100px;
  margin-bottom: 100px;
  opacity: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}


.transactions-purchases table td {
  border-bottom: solid 1px #327EB8; 
}

.transactions-purchases table tr{
  cursor: pointer; 
}

.transaction-detail {
  border-bottom: solid 1px #327eb8;
  cursor: pointer;
}

.avatar {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

#main {
  clear: both;
  height: 94%;
  overflow-y: auto;
  padding-top: 30px;
  top: 50px;
  position: relative;
}

.body-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0px -70px 112px -62px rgba(37,37,37,.9);
}

#main.blur {
  -webkit-filter: blur(4px);
}



.cursor-pointer {
  cursor: pointer;
}


.store {
  margin: auto;
  text-align: left;
  width: 1100px;
}

.vendor-banner,
.vendor-banner-2 {
  height: 88px; 
  margin-top: 0px; 
  top: 50px;
  padding: 10px 0;
  position: relative;
  opacity: .80%;
}

.vendor-banner.blur,
.vendor-banner-2.blur {
  -webkit-filter: blur(4px);
}

.vendor-footer li {
  display: inline-block;
  margin-right: 4px;
}

.vendor-footer {
  font-family: "font-medium";
  font-size: 13px;
  position: relative;
  bottom: 0;
  padding: 10px;
  height: 20px;
  width: 100%;
  z-index: 50;
}

.vendor-buttons {
  margin-top: 40px;
}

.vendor-avatar {
  background: #086A9E;
  background-size: cover;
  border-radius: 40px;
  cursor: pointer;
  height: 80px;
  margin: auto;
  margin-right: 10px;
  width: 80px;
}

.vendor-name {
  font-size: 18px;
  padding-top: 10px;
}

.vendor-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.vendor-contracts {
  margin-bottom: 200px;
  text-align: left;
}

.vendor-description {
  font-family: "font-medium";
  font-size: 14px;
  line-height: 17px;
  margin-top: 2px;
  opacity: 0.80;
  width: 550px;
}

.loading-icon {
  background: #fff;
  background-size: cover;
  border-radius: 45px;
  height: 90px;
  margin: 10px auto;
  width: 90px;
}

.loading-message {
  font-family: "font-regular" !important;
}

#spinner {
  margin: auto;
  height: 50px;
  position: relative;
  width: 50px;
}

.opacity-0 {
  opacity: 0;
}


.vendor-details table {
  border-radius: 4px;
  font-family: "font-medium";
  font-size: 13px;
  width: 800px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.10);
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.vendor-details a {
  color: #fff;
}

.vendor-details a:hover {
  color: #fff;
}

.vendor-details table td {
  min-height: 30px;
  word-break: break-word;
  padding: 15px;
}

.vendor-details td.label{
  font-family: "font-medium";
  width: 150px;
}

.vendor-details td.value {
  line-height: 15px;
  opacity: 0.80;
}


.vendor-settings {
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
}

.vendor-settings-footer {
  color: #fff;
  background: #3D3D3D;
  height: 40px;
  font-family: "font-medium";
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.vendor-settings-color {
  border: solid 3px #fff;
  cursor: pointer;
  height: 35px;
  float: left;
  margin-right: 10px;
  width: 35px;
  border-radius: 20px;
}

.vendor-settings-contracts {
  margin: auto;
  width: 1100px;
}

.vendor-settings .contract-name {
  text-align: center;
}

.vendor-settings-buttons {
  float: right;
  margin-right: 20px;
  margin-top: 6px;
}

.vendor-settings-buttons button {
  background: #6C6C6C !important;
  color: #fff !important;
}

.dropzone {
  background: #327eb8;
  border-radius: 3px;
  border: 0;
  margin: 4px;
}

.dropzone:focus {
  opacity: .75;
 box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
border:1px solid red;
}

.dropzone .dz-preview .dz-image  {
  border-radius: 0;
  height: 80px;
  width: 80px;
}

.settings-contract-buttons {
  opacity: 0;
  transition: all .3s cubic-bezier(0, 0, 0.2, 1);
  z-index: 50;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}

