.modal {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  height: 560px;
  background: #086A9E;
  font-family: "font-medium";
  border-radius: 3px;
  position: absolute;
  z-index: 1250;
  top: 80px;
  left: 50%;
  margin-left: -300px;
  overflow: hidden;
  width: 600px;
}

.modal-body {
  height: 420px ;
  padding: 20px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-header {
  background: #327eb8;
  height: 30px;
  font-family: "font-medium";
  font-size: 16px;
  line-height: 30px;
  padding: 10px 15px;
  width: 100%;
}

.modal-navigation {
  background: #327eb8;
  height: 30px;
  font-family: "font-medium";
  font-size: 14px;
  line-height: 30px;
  padding: 10px 0;
  width: 100%;
}

.modal-navigation ul li {
  float: left;
  margin-right: 16px;
  min-width: 50px;
  padding: 0 15px;
  text-align: center;
  cursor: pointer;
  opacity: .75;
  padding-top: 4px;
}

.modal-navigation ul li.modal-navigation-selected {
  background: #086BA0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 36px;
  opacity: 1;
}

.modal-footer {
  background: #327eb8;
  height: 30px;
  text-align: right;
  padding: 10px;
}

.modal input,
.modal select,
.modal textarea {
  background: #327eb8;
  border-radius: 3px;
  color: #fff;
  border: 0;
  font-family: "font-medium";
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  margin: 4px;
  padding: 12px;
  font-size: 13px;
  letter-spacing: .2px;
  outline: none;
  width: 330px;
}

.modal textarea {
  height: 70px;
}

.modal select {
  height: 37px;
}

.modal input:focus,
.modal textarea:focus{
  opacity: .75;
}

.modal input::-webkit-input-placeholder {
  color: #fff;
  opacity: .75;
}

.modal table {
  font-size: 13px;
}

.modal td {
  vertical-align: top;
}

.modal td.label {
  padding-top: 15px;
  width: 150px;
}
