h1 {
  font-family: "font-medium";
  font-size: 26px;
  line-height: 24px;
}

h2 {
  font-family: "font-medium";
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .2px;
}

a {
  color: #4A90E2;
  text-decoration: none;
  font-size: 13px;
}

p,
span {
  font-family: "font-medium";
  font-size: 14px;
}

.type-opacity {
  opacity: .80;
}

.type-align-right {
  text-align: right;
}

.type-align-center {
  text-align: center;
}

.type-color-959595 {
  color: #959595;
}

.type-color-222222 {
  color: #222222;
}

.type-weight-light {
  font-family: "font-regular";
}

.type-weight-medium {
  font-family: "font-medium";
}

.type-letter-spacing-1_2 {
  letter-spacing: 1.2; 
}

.type-no-wrap {
  white-space: nowrap;
}

.type-size-14px {
  font-size: 14px;
}

.type-size-15px {
  font-size: 15px;
}

.type-size-16px {
  font-size: 16px;
}

.type-size-20px {
  font-size: 20px;
}

.type-size-24px {
  font-size: 24px;
}

.type-size-26px {
  font-size: 26px;
}

.type-size-30px {
  font-size: 30px;
}

.type-line-height-16px {
  line-height: 16px;
}

.type-line-height-18px {
  line-height: 18px;
}

.type-line-height-24px {
  line-height: 24px;
}

.type-bold {
  font-family: "font-black";
}