.input {
  background: #327eb8;
  border-radius: 3px;
  border: 0;
  font-family: "font-regular";
  font-size: 13px;
  outline: none;
  padding: 14px;
  height: 30px;
  transition: border-color .4s;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  width: 100px;
}


.select {
  background: #327eb8;
  border-radius: 3px;
  color: #fff;
  border: 0;
  font-family: "font-medium";
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  padding: 12px;
  height: 37px;
  font-size: 13px;
  letter-spacing: .2px;
  outline: none;
}

.input-quantity {
  width: 40px;
  padding: 14px 4px;
  text-align: center;
}

.input-medium {
  width: 159px !important;
}

.input-large {
  width: 250px !important;
}

.input-small {
  width: 82px !important;
}

label {
  color: #959595;
  font-family: "font-regular";
  font-size: 14px;
  clear: both;
  display: block;
  margin-bottom: 5px;
}

.input-search {
  background: #fff;
  -webkit-app-region: no-drag;
  background-image: url('../img/icon-search.png') !important;     
  background-position: left 8px top 8px !important;
  background-repeat: no-repeat !important; 
  background-size: 14px !important;  
  border: 0 !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) !important;
  height: 22px !important;
  letter-spacing: 0 !important;
  margin-left: 6px !important;     
  margin-top: -9px !important;
  text-indent: 12px;
  transition: box-shadow .3s;
  width: 81.5% !important;
}

.input-search:hover,
.input-search:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.input-chat-new-message {
  background: #454545;
  border-radius: 0;
  bottom: 0;
  color: #fff;
  height: 42px;
  line-height: 42px;
  position: absolute;
  width: 242px;
}